In [25]:
#import required libaries
import pandas as pd
from pathlib import Path

In [5]:
#Read in CSV and review for nulls

# 1a. Get the directory of the notebook (in Jupyter)
current_dir = Path.cwd()
# 1b. Get the directory where the current script is located (non jupyter)
#current_dir = Path(__file__).resolve().parent

# 2. Define path to the sibling folder and source data
csv_path = current_dir.parent / "010_source_data" / "tp_reviews.csv"

tp_reviews=pd.read_csv(csv_path)
#replace spaces in the column names with an underscore for best practice naming conventions in DB
tp_reviews.columns = tp_reviews.columns.str.replace(' ', '_')
tp_reviews.count()

Review_Id            2546
Reviewer_Name        2546
Review_Title         2546
Review_Rating        2546
Review_Content       2546
Review_IP_Address    2546
Business_Id          2546
Business_Name        2546
Reviewer_Id          2546
Email_Address        2546
Reviewer_Country     2546
Review_Date          2546
dtype: int64

In [37]:
#create list with Review IDs
Rid=tp_reviews["Review_Id"]
Rid

0       9e4feb04-717f-4568-8c77-e5784ae6fb2d
1       ee73bcf8-38ab-40fd-b1c7-5376c644b65f
2       b3f91012-5d11-4ce2-ae48-3518017a0b59
3       54a870c8-70c8-443c-90d0-ca03c894eec5
4       22fcc566-dd8c-4d32-a918-8cffb7c7a8ef
                        ...
2541    84a4858e-7787-40fb-89ea-c7464ab64f32
2542    3d1886cf-4966-4d73-ba0e-e6f583a7b4f5
2543    c434c450-0000-4659-a956-3327eafe19f0
2544    7b04a4bd-0f53-4ed8-a49b-9c62b59c2a4a
2545    80cc4c4b-7aa0-4f55-8690-dc14415846d2
Name: Review_Id, Length: 2546, dtype: object

In [38]:
#Identify duplicate reviews
tp_reviews[Rid.isin(Rid[Rid.duplicated()])].sort_values("Review_Id")

,Review_Id,Reviewer_Name,Review_Title,Review_Rating,Review_Content,Review_IP_Address,Business_Id,Business_Name,Reviewer_Id,Email_Address,Reviewer_Country,Review_Date
259,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
2083,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
707,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
1962,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
478,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
1263,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
1199,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
1608,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
1072,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400
2180,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400

In [39]:
#Review single instance
filter1="ccdbbec8-5496-4a1f-99dd-a81770f7a206"
tp_reviews[tp_reviews["Review_Id"]==filter1]

,Review_Id,Reviewer_Name,Review_Title,Review_Rating,Review_Content,Review_IP_Address,Business_Id,Business_Name,Reviewer_Id,Email_Address,Reviewer_Country,Review_Date
1072,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400
2180,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400

In [40]:
#import libary for DB
import sqlite3

#define connection to DB
db_path = current_dir.parent / "100_prod" / "trust.db"
conn=sqlite3.connect(db_path)

In [6]:
#create table in DB
tp_reviews.to_sql('sql_tp_reviews',conn,if_exists='replace',index=False)

2546

In [42]:
#Review Duplicates from the DB
pd.read_sql_query('SELECT * FROM sql_tp_reviews where Review_Id in (select Review_Id from sql_tp_reviews group by 1 having count(*)>1) order by 1', conn)

,Review_Id,Reviewer_Name,Review_Title,Review_Rating,Review_Content,Review_IP_Address,Business_Id,Business_Name,Reviewer_Id,Email_Address,Reviewer_Country,Review_Date
0,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
1,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
2,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
3,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
4,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
5,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
6,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
7,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
8,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400
9,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400

In [43]:
#Remove duplicates and create deduplicated data within the database
tp_reviews_dedup=tp_reviews.drop_duplicates(subset=['Review_Id'])
#tp_reviews_dedup.count()
tp_reviews_dedup.to_sql('sql_tp_reviews_dedup',conn,if_exists='replace',index=False)

2541

In [ ]:
###optional code to drop original data if not required for reference purposes
#cursor = conn.cursor()
#sql_query = f"DROP TABLE IF EXISTS {sql_tp_reviews}"
#cursor.execute(sql_query)
#conn.commit()

In [45]:
#Validate that duplicates have been removed and are no longer present
pd.read_sql_query('SELECT * FROM sql_tp_reviews_dedup where Review_Id in (select Review_Id from sql_tp_reviews_dedup group by 1 having count(*)>1) order by 1', conn)

Empty DataFrame
Columns: [Review_Id, Reviewer_Name, Review_Title, Review_Rating, Review_Content, Review_IP_Address, Business_Id, Business_Name, Reviewer_Id, Email_Address, Reviewer_Country, Review_Date]
Index: []

In [7]:
import sqlite3
from pathlib import Path
import pandas as pd

current_dir = Path.cwd()
#define connection to DB
db_path = current_dir.parent / "100_prod" / "trust.db"
conn=sqlite3.connect(db_path)

#Review Duplicates from the DB
pd.read_sql_query('SELECT * FROM sql_tp_reviews where Review_Id in (select Review_Id from sql_tp_reviews group by 1 having count(*)>1) order by 1', conn)

,Review_Id,Reviewer_Name,Review_Title,Review_Rating,Review_Content,Review_IP_Address,Business_Id,Business_Name,Reviewer_Id,Email_Address,Reviewer_Country,Review_Date
0,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
1,59018488-7924-4c55-86cc-6caf3e3fa863,Cameron Nelson,Disappointing Experience,4,The product quality took much more time than a...,44.104.60.166,60c10a30-c9ca-4c09-8a48-7bbf7c54d47d,Coastal Restaurant Group,ecbedc02-c63c-44a8-ac32-30fa2ee8bb66,cameron.nelson@example.org,Indonesia,2023-10-30 07:11:50+0700
2,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
3,86b30d74-3cf2-4f69-b2b2-fde8c006ab45,Nathan Avila,Underrated Gem,5,The product I received was faulty and totally ...,149.197.167.64,2f61a1a0-523d-4ae0-9c2b-d4418a7dbcac,Luxury Travel Concierge,e7e44cba-b4af-4bb7-9acf-cb12a43ee8cb,nathan.avila@example.es,Peru,2024-02-20 00:02:57-0500
4,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
5,ba62e077-5a39-4dd6-aa08-3b8ec7447f68,Brian Diaz,Highly Recommended,5,I recently used this service and I was disappo...,113.145.4.160,24a6a92a-f745-455f-b669-f2f02842039f,Artisan Coffee Roasters,c4b02e48-72e4-4739-8a78-c4442283aca2,brian.diaz@example.mil,USA,2025-04-29 21:40:57-0400
6,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
7,c88ceee0-89a7-477a-a538-d7038787f945,Christopher Baxter,Underrated Gem,5,The website interface took much too long than ...,102.57.86.148,0efc15c0-c004-4ec3-9b80-3188a4943fd5,Pinnacle Financial Services,15dd1bcb-fb4f-4ec3-87a3-f3dcd36a0205,christopher.baxter@example.com,Denmark,2025-05-26 14:40:12+0200
8,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400
9,ccdbbec8-5496-4a1f-99dd-a81770f7a206,Donna Lee,Poor Quality Control,1,The website interface took much too long than ...,50.255.217.93,fbfac91e-f55f-4200-95de-49c9635a732c,TechVantage Solutions,c2238fbe-7c88-46dd-bdd8-d95b46169b25,donna.lee@example.sg,Chile,2025-08-23 01:36:46-0400